%div{:class => "well span10 offset1"}
  %h2 What is this?
  %p Poker Signup is a simple way to register for upcoming poker games and see who else is playing. To keep it as easy as possible, all you need is a known email address to log in. No need to remember yet another password for a website. Signing up for a game is just a matter of clicking a button and then a final email will be sent out to everyone who is "in" with directions. If a game reaches capacity, a waiting list is created.
  %h2 Why?
  %p
    :markdown
      After announcing a game, I frequently get emails like *"Who is playing so far?"* and *"How many spots are left?"*. Here's the answer and now I don't have to keep track of emails. It was also a chance to play a bit with [Ruby](http://www.ruby-lang.org) and [jQuery](http://jquery.com).
  %h2 I found a bug or have some other question
  %p Drop me a line at &#98;&#97;&#114;&#114;&#101;&#116;&#116;&#64;&#99;&#101;&#114;&#118;&#101;&#110;&#107;&#97;&#46;&#99;&#111;&#109;
