%div{:class => "well span10 offset1"}
  =styled_flash
  %h3 Upcoming Games
  - if !@upcomingGames.any?
    %strong No games scheduled at the moment!
  - @upcomingGames.each do |game|
    %a(href='/game/#{game._id}')#{game.date.strftime("%A, %B %e, %Y, %l:%M %p")}
    %br
  %h3 Past Games
  - @pastGames.each do |game|
    %a(href='/game/#{game._id}')#{game.date.strftime("%A, %B %e, %Y, %l:%M %p")}
    %br