%script(src="/js/pokerSignup.js")

%div{:class => "well span10 offset1"}
  =styled_flash
  %p Enter your first and last name. This will be displayed to other players when you sign up for a game. For a change to your email address, please email Barrett.

  %form{ :action => "/user/#{@user.id}", :method => "post" }
    %input{:type => "hidden", :name => "_method", :value => "put"}
    %input{:type => "text", :name => "firstName"}
    %input{:type => "text", :name => "lastName"}
    %br
    %input{:type => "submit", :value => "Submit", :class => "btn btn-primary"}
