p {
    font-size: 120%;
}

.inline-form {
    display: inline;
}

.hellotext {
    display: inline-block;
    margin-top: 5px;
    padding: 4px 12px;
    vertical-align: middle;
}

.info, .success, .warning, .error {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('/images/info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('/images/success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('/images/warning.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('/images/error.png');
}

@font-face {
    font-family: 'IcoMoon';
    src: url(data:application/x-font-woff;charset=utf-8;base64,d09GRk9UVE8AAAWwAAsAAAAACBAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABDRkYgAAABCAAAAmoAAAMXCsCWnEZGVE0AAAN0AAAAGgAAABxjiXK8R0RFRgAAA5AAAAAdAAAAIAA0AARPUy8yAAADsAAAAE0AAABgUeLcQGNtYXAAAAQAAAAAVgAAAXIBDvu5aGVhZAAABFgAAAAuAAAANvsfREdoaGVhAAAEiAAAAB4AAAAkBBD/6GhtdHgAAASoAAAAEgAAABwMAAAgbWF4cAAABLwAAAAGAAAABgAHUABuYW1lAAAExAAAAOAAAAGJOu8sJHBvc3QAAAWkAAAADAAAACAAAwAAeJxNUk1oE0EUfptks2sI2zbsBi1pSqGt6FZJIZcqePBQlag9uAettRR/ArrQgFQLIl6iVRgUsXuIIhahVWEvCj1YEG/WSsWL8f8gqO1lrSiUzuLGPt+0TXQWvvn2ve/7ZniMBJEISJKk7jlW2FcoDIIUAgl2+KmQ3xT210dYPMzikXQMNhxIIGM1EleY7Tv+kJyCs3UpgPoUFBtSoKXC6xIQFhkq1EHyzODJ7kwmsxZePYPWJmiHTtgCWekyKEIegjY4CsvShdCp0JDmO9wycoEVZLmeC3TarFyUO9zxTObOMmbKmn/e7zNcm9m2rRaLpjc6Kruuy1xbrfQFFYOXedkzgzJ9ui1z3TOE3XYDJ3Bkjeu8bCBOHaxH6CLA6fs/Ebpr0FVt/KutSlbEUzWYrjbEb5o7QdYg9aN2Eu7/SJ2H89TpaWy2EQN+TcFltf4bE/wqY65MUhKQ9ANBT6NwbkxrvuVblNJw8xaCls8j/iKGP/L55kpWWSFrpWo9HSxGBWkTpU+rJmFv5vqsySf5YjBp5riu/JdZ06S9im54geVxy1N4a9AqayiVZpZQ6vz+km4xEelFvHT4BOJxN4RovSohDg+WEPq7kgjq/APEZ1eWENJHtiK+GSgSe7cXcWFiQCVs2Y049mdRWUGExOftURK8fUG094swUXHznd8UNPcVYdtwTIS/R7z73BQHjiC4mTlxidsI58YJBmZOI+xauIHQ0ttEQ3OeICQnyNtxfVxlSA9rp4CLSOspYzTh5D0a1+tCHzkO0bim7ZHVFHyc6FA15g9FKo7vKPTidGYMj/kWi7J47C8PJ4TjAAB4nGNgYGBkAIKTnfmGIPosA+NRGA0AObEFGgAAeJxjYGRgYOADYgkGEGBiYARCNiBmAfMYAASMADkAAAB4nGNgZmJgnMDAysDB6MOYxsDA4A6lvzJIMrQwMDAxsDIzwACjAAMCBKS5pjA4MLh+YGB88P8Bgx7jAwaFBqAaqNIDDApAyAgAAhgMRgAAAHicY2BgYGaAYBkGRgYQyAHyGMF8FoYAIC0AhMxgGVcGDwYfoFjwB4b//7GJ/N/7f+f/Hf83/98kwAY1DQUwsjFgEyYdMEHMYYE4nZUaRtILAADymBK3AAB4nGNgZGBgAGIv6Yfv4vltvjJwMzGAwFkGxqMI+v8DJgbGB0AuBwNYGgAYPwnVAAB4nGNgZGBgfPD/AYMeEwMDwz8GIAkUQQHsAG3rA/oAAHicY2JgYGDCxApAigEAAZQALQAAAABQAAAHAAB4nHWOMW7CQBBFn8EQIaIoVZTSBUUaW94tKDiAFQqaFPQIrSwkxEoLNDlI2hwhZY6RA+QIuUQ+m2lSsNJo3n79mT/ALW8UXF7BDffGA/GT8ZAZr8al9A/jEVO+jMfSf+QsyomUuzx14YH40XjIM61xKf3deMQDn8Zj6d8s2RJZqSIHWG7jKkbBC4GeM3s2JH1Df95vBF32nXJPcgQqPI3SKhaq//v+NM+cGqdeq9pMdPFw6mLqQ+WbtlpUlizy89r52rdOrmvnrRWcOLKzGJdPYB3Scaclrmmvzv4Cw844THicY2BmwAsAAH0ABA==) format('woff'),
    url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAANAIAAAwBQRkZUTWOJcrwAAAbwAAAAHEdERUYANgAGAAAG0AAAACBPUy8yUADcHwAAAVgAAABWY21hcAEXAsYAAAHUAAABcmdhc3D//wADAAAGyAAAAAhnbHlmyTyPKAAAA1wAAAGkaGVhZPsfREcAAADcAAAANmhoZWEEEP/qAAABFAAAACRobXR4DKoAJQAAAbAAAAAkbG9jYQE+AaAAAANIAAAAFG1heHAATgAiAAABOAAAACBuYW1lOu8sJAAABQAAAAGJcG9zdE5Fn/QAAAaMAAAAPAABAAAAAQAAh02FEV8PPPUACwIAAAAAAM0AAcUAAAAAzQABxQAA/+ACAAHgAAAACAACAAAAAAAAAAEAAAHg/+AALgIAAAD+AAIAAAEAAAAAAAAAAAAAAAAAAAAJAAEAAAAJAB8AAwAAAAAAAgAAAAEAAQAAAEAAAAAAAAAAAQIAAZAABQAIAUwBZgAAAEcBTAFmAAAA9QAZAIQAAAIABQMAAAAAAAAAAAABEAAAAAAAAAAAAAAAUGZFZABAAEXwAAHg/+AALgHgACCAAAABAAAAAAAAAgAAAAAAAAAAqgAAAgAAAAIAAAACAAAAAgAAAAIAACUAAAAAAAAAAwAAAAMAAAAcAAEAAAAAAGwAAwABAAAAHAAEAFAAAAAQABAAAwAAAAAARQBIAEwAUABT8AD//wAAAAAARQBIAEwAUABT8AD//wAA/7//u/+6/7X/tBAIAAEAAAAAAAAAAAAAAAAAAAAAAAABBgAAAQAAAAAAAAABAgAAAAIAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAwAAAAYAAAAFAAAHAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGgA+AGAAkADEANIAAQAAAAACAAHAAA4AACUnNSMVJwEzFTM1MxUzNQIAYEBg/wBAoECgwGBgIGD/AMCAgMAAAAMAAP/gAegByAAFAAoADgAAACYPARc3AQc3AScDJwEXAhhgMAhgCP44IIABQGDgIAEAIAGYYDAIYAj++IAgAUBg/qAgAQAgAAIAAAAAAgABwAAHABMAABI0NjIWFAYiFyEiBh0BMyEzNTQmgEtqS0tqtf8ANUsEAfgESwELaktLaksgSzUgIDVLAAAAAgAA/+AB4AHAABcAHgAAASEiBh0BMzUhESE1IxUUFjMhMjY1ETQmATcnFSMVMwHA/qANE0ABIP7gQBMNAWANExP+85CQwMABwBMNgGD+oGCADRMTDQGgDRP+gJCQYGAAAQAl/+AB2wHgAB4AAAEuAicxDgIHDgEeATY3DgEHFTsBNS4BJx4BPgEmAZktQhwODhxCLS8hHDdVJwYnGWBgGScGJ1U3HCEBMiFGKxwcK0YhI1RALQEbKT8PExMPPykbAS1AVAAAAAABAAD/4AIAAeAAAgAAEQEhAgD+AAHg/gAAAAAAAAAMAJYAAQAAAAAAAQAHABAAAQAAAAAAAgAHACgAAQAAAAAAAwAkAHoAAQAAAAAABAAHAK8AAQAAAAAABQALAM8AAQAAAAAABgAHAOsAAwABBAkAAQAOAAAAAwABBAkAAgAOABgAAwABBAkAAwBIADAAAwABBAkABAAOAJ8AAwABBAkABQAWALcAAwABBAkABgAOANsASQBjAG8ATQBvAG8AbgAASWNvTW9vbgAAUgBlAGcAdQBsAGEAcgAAUmVndWxhcgAARgBvAG4AdABGAG8AcgBnAGUAIAAyAC4AMAAgADoAIABJAGMAbwBNAG8AbwBuACAAOgAgADIANgAtADEAMgAtADIAMAAxADIAAEZvbnRGb3JnZSAyLjAgOiBJY29Nb29uIDogMjYtMTItMjAxMgAASQBjAG8ATQBvAG8AbgAASWNvTW9vbgAAVgBlAHIAcwBpAG8AbgAgADEALgAwAABWZXJzaW9uIDEuMAAASQBjAG8ATQBvAG8AbgAASWNvTW9vbgAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAJAAAAAQACACsAKAAzAC8ANgECB3VuaUYwMDAAAAAB//8AAgABAAAADgAAABgAAAAAAAIAAQADAAgAAQAEAAAAAgAAAAAAAQAAAADJiW8xAAAAAM0AAcUAAAAAzQABxQ==) format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^="ico"]:before, [class*=" ico"]:before {
    margin-right: 8px;
    font-size: 125%;
    font-family: 'IcoMoon';
    font-style: normal;
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icohome:before {
    content: "\48";
}
.icopencil:before {
    content: "\45";
}
.icouser:before {
    content: "\50";
}
.icoenter:before {
    content: "\4c";
}
.icospades:before {
    content: "\53";
}
